
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4">
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="bi bi-house-door m-1"></span> Home</a>
                </li>
                <li>
                    <a href="#"><span class="bi bi-film m-1"></span> Movies</a>
                </li>
                <li>
                <a href="#"><span class="bi bi-display m-1"></span> Series</a>
                </li>
                <li>
                <a href="#"><span class="bi bi-gear m-1"></span> Programs</a>
                </li>
                <li>
                <a href="#"><span class="bi bi-image-alt m-1"></span> Gallery</a>
                </li>
                <li>
                <a href="#"><span class="bi bi-joystick m-1"></span> Games</a>
                </li>
                <li>
                <a href="#"><span class="bi bi-clipboard2-plus m-1"></span>Blog</a>
                </li>
            </ul>
            <h3 class="h6 mb-3">Subscribe for newsletter</h3>
            <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <input type="text" class="form-control" placeholder="Enter Email Address" style="margin-bottom: 20px;background-color: transparent;color:gray;border:2px solid rgb(46, 133, 155);">
                </div>
            </form>
        </div>
        <div class="footer m-5 ">
                <div class="mb-5"> 
                      <div class="dropup ">
                          <span style="margin:0 10px 0 20px;">Alaa Eid</span>
                        <i type="button" class="bi bi-person-circle " data-bs-toggle="dropdown" aria-expanded="false">
                          
                        </i>
                        <div aria-labelledby="dropdownBasic3"class="dropdown-menu ">
                            <div>
                                <a href="#" class="dropdown-item py-1">
                                    <i class="bi bi-ui-checks-grid mr-2" style="margin-right: 7px;"></i>
                                    <span>Profile</span>
                                </a>
                                <a href="#" class="dropdown-item py-1">
                                    <i class="bi bi-telegram" style="margin-right: 7px;"></i>
                                    <span>Chat</span>
                                </a>
                                <a href="#" class="dropdown-item py-1">
                                    <i class="bi bi-tools mr-2" style="margin-right: 7px;"></i>
                                    <span>Settings</span>
                                </a>
                              <div class="dropdown-divider">
        
                              </div>
                              <a href="#" class="dropdown-item">
                                  <i class="bi bi-lock-fill mr-2" style="margin-right: 7px;"></i>
                                  <span>Logout</span>
                                </a>
                            </div>
                          </div>
                      </div>
            </div>

        </div>
    </nav>
    <div id="content" class="p-5 p-md- pt-5" style="background-color: rgb(32, 28, 28);color: wheat;">
        <div class="row" id="fixed">
            
        </div>
        <app-main></app-main>
    </div>
</div>