<section class="py-5 ">
    <div class="container px-4 px-lg-5 mt-5 m-0">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-around">
<!-- --------------------------------------------------------- -->
        <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5" >
          <div class="card text-center">
            <img  src="../../../assets/images/pik.jpg" >
            <div class="text">Now You can watch the first epsoide
                of the action series PikyBlinder </div>
                <button class="watch">watch</button>
                <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
                <h6>PikyBlinders</h6>
                <span>00:52:09</span>
                <h6>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill "></i>
                    <i class="bi bi-star-fill "></i>
                </h6>
          </div>
        </div>
<!-- --------------------------------------------------------- -->
        <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5">          
          <div class="card text-center">
            <img  src="../../../assets/images/vi.jpg" >
            <div class="text">Now You can watch the first epsoide
                of the action series Vikings</div>
                <button class="watch">watch</button>
                <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
                <h6>Vikings</h6>
                <span>01:57:09</span>
                <h6>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill "></i>
                    <i class="bi bi-star-fill "></i>
                </h6>
        </div>
        </div>
<!-- --------------------------------------------------------- -->
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
          <div class="card text-center">
            <img  src="../../../assets/images/1.jpg" >
            <div class="text">Now You can watch the Movie
                of the action BlackLight </div>
                <button class="watch">watch</button>
                <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
                <h6>BlackLight</h6>
                <span>02:02:09</span>
                <h6>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill "></i>
                    <i class="bi bi-star-fill "></i>
                </h6>
        </div>
        </div>
    <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
        <div class="card text-center">
          <img  src="../../../assets/images/2.jpg" >
          <div class="text">Now You can watch the Movie
                of the Drama Ing Maker</div>
                <button class="watch">watch</button>
                <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
                <h6>Ing Maker</h6>
                <span>01:34:09</span>
                <h6>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill "></i>
                    <i class="bi bi-star-fill "></i>
                </h6>
        </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5" >
        <div class="card text-center">
          <img  src="../../../assets/images/pik.jpg" >
          <div class="text">Now You can watch the Movie
            of the Drama Surviving Paradise</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Surviving Paradise</h6>
              <span>01:56:23</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
        </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5">          
        <div class="card text-center">
          <img  src="../../../assets/images/4.jpg" >
          <div class="text">Now You can watch the Movie
            of the Action After The Pandemic</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Pandemic</h6>
              <span>01:48:44</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
        <div class="card text-center">
          <img  src="../../../assets/images/5.jpg" >
          <div class="text">Now You can watch the Movie
              of the action Project Gemini </div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Project Gemini</h6>
              <span>02:33:09</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
        <div class="card text-center">
          <img  src="../../../assets/images/6.jpg" >
          <div class="text">Now You can watch the Movie
              of the Drama Against  Ice</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Against  Ice</h6>
              <span>01:44:29</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
      </div>
      <!-- --------------------------------------------------------- -->
      <!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5" >
        <div class="card text-center">
          <img  src="../../../assets/images/7.jpg" >
          <div class="text">Now You can watch the Movie
            of Suspence The Last Mark</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>The Last Mark</h6>
              <span>02:12:19</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
        </div>
      </div>
<!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5">          
        <div class="card text-center">
          <img  src="../../../assets/images/8.jpg" >
          <div class="text">Now You can watch the Movie
            of Suspence Day To Die</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Day To Die</h6>
              <span>02:04:19</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
      </div>
<!-- --------------------------------------------------------- -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
        <div class="card text-center">
          <img  src="../../../assets/images/9.jpg" >
          <div class="text">Now You can watch the Korean Movie
              Wang </div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Wang</h6>
              <span>01:43:09</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
      </div>
  <!-- --------------------------------------------------------- -->
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
      <div class="card text-center">
        <img  src="../../../assets/images/spider.jpeg" >
        <div class="text">Now You can watch the action Movie
              Spider Man Far From Home</div>
              <button class="watch">watch</button>
              <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
              <h6>Spider Man Far From Home</h6>
              <span>01:34:09</span>
              <h6>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill "></i>
                  <i class="bi bi-star-fill "></i>
              </h6>
      </div>
    </div>
    <!-- --------------------------------------------------------- -->
    <!-- --------------------------------------------------------- -->
    <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5" >
      <div class="card text-center">
        <img  src="../../../assets/images/pik.jpg" >
        <div class="text">Now You can watch the first epsoide
            of the action series PikyBlinder </div>
            <button class="watch">watch</button>
            <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
            <h6>PikyBlinders</h6>
            <span>00:52:09</span>
            <h6>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill "></i>
                <i class="bi bi-star-fill "></i>
            </h6>
      </div>
    </div>
    <!-- --------------------------------------------------------- -->
    <div class="col-lg-3 col-md-6 col-sm-10 col-xs-7 mb-5">          
      <div class="card text-center">
        <img  src="../../../assets/images/vi.jpg" >
        <div class="text">Now You can watch the first epsoide
            of the action series Vikings</div>
            <button class="watch">watch</button>
            <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
            <h6>Vikings</h6>
            <span>01:57:09</span>
            <h6>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill "></i>
                <i class="bi bi-star-fill "></i>
            </h6>
    </div>
    </div>
    <!-- --------------------------------------------------------- -->
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
      <div class="card text-center">
        <img  src="../../../assets/images/1.jpg" >
        <div class="text">Now You can watch the Movie
            of the action BlackLight </div>
            <button class="watch">watch</button>
            <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
            <h6>BlackLight</h6>
            <span>02:02:09</span>
            <h6>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill "></i>
                <i class="bi bi-star-fill "></i>
            </h6>
    </div>
    </div>
    <!-- --------------------------------------------------------- -->
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mb-5">
      <div class="card text-center">
        <img  src="../../../assets/images/2.jpg" >
        <div class="text">Now You can watch the Movie
            of the Drama Ing Maker</div>
            <button class="watch">watch</button>
            <a href="#"><div class="views">2021<i class="far fa-eye"></i> </div></a>
            <h6>Ing Maker</h6>
            <span>01:34:09</span>
            <h6>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill "></i>
                <i class="bi bi-star-fill "></i>
            </h6>
    </div>
    </div>
    <!-- --------------------------------------------------------- -->
        
      </div>
    </div>
  </section>
  
  
  
  
  